#order-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.orderDiv{
    background-color: rgb(255, 248, 238);
    border-color: #E2E8F0;
    border-style: solid;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 5px 5px grey;
}
